 .modal-overlay-doc {
      display: flex;
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      z-index: 1000;
        animation: fadeIn 0.3s ease;
    }

    

    .modal_doc_recibido {
        
      position: relative;
      background-color: #ffffff;
      padding: 1.5rem;
      border-radius: 12px;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      text-align: center;
       animation: slideDown 0.4s ease;
    }

    
.modal_doc_recibido .close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

    .modal_doc_recibido .icon {
      font-size: 2.5rem;
      color: #3D688A;
      margin-bottom: 1rem;
    }

    .modal_doc_recibido h2 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #222;
    }

    .modal_doc_recibido p {
      font-size: 1rem;
      line-height: 1.5;
      color: #555;
    }

    /* Tablets */
    @media (min-width: 600px) {
      .modal_doc_recibido {
        padding: 2rem;
      }

      .modal_doc_recibido h2 {
        font-size: 1.5rem;
      }

      .modal_doc_recibido p {
        font-size: 1.1rem;
      }

      .modal_doc_recibido .icon {
        font-size: 3rem;
      }
    }

    /* Escritorio */
    @media (min-width: 1024px) {
      .modal_doc_recibido {
        max-width: 500px;
        padding: 2.5rem;
      }

      .modal_doc_recibido h2 {
        font-size: 1.75rem;
      }

      .modal_doc_recibidol p {
        font-size: 1.125rem;
      }

      .modal_doc_recibido.icon {
        font-size: 3.5rem;
      }
    }


    @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}